.carslist {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carslist__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin-bottom: 100px;
}

.carlist__img {
    padding: 20px;
    height: 200px;
}

.carlist__img img {
    height: 100%;
}

.carlist__name {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.carlist__price {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.carlist__text {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.search {
    margin-top: -65px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.search__container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    background-color: #FFFFFF;

}

.search__form {
    display: flex;
    gap: 5px;
}


